<div class="container-fluid text-center white">
  <div class="row">
    <%= render partial: 'layouts/sidemenu' %>
    <div class="col-8 border-4">
      <div class="tab-wrap">
        <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">全ツイート</label>
        <div class="tab-content">
          <div class="border-4">
            <%= render partial: 'layouts/form' %>
          </div>
          <div class="tab_contents border-4 p-1 w-100" id="menu01">
            <div class="border-4 w-100 bg-primary">
              全てのユーザーのツイートが表示される
            </div>
            <%= render partial: 'layouts/all_tweets' %>
          </div>
        </div>
        <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">フォロー中</label>
        <div class="tab-content">
          <div class="border-5">
            <%= render partial: 'layouts/form' %>
          </div>
          <div class="tab_contents border-4 p-1 w-100" id="menu02">
            <div class="border-4 w-100 bg-primary">
              フォロー中のツイートが表示される
            </div>
            <%= render partial: 'layouts/follower_tweets' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
