<% @tweets.each do |tweet| %>
  <div class="d-flex border-under m-3">
    <%= image_tag tweet.user.avatar.variant(resize_to_fit: [1000, 1000]), class:"avatar d-flex col-2 margin-right-1" if tweet.user.avatar.attached? %>
    <div>
      <%= link_to "/tweet/#{tweet.id}", class:"decoration-none color-white" do %>
        <div class="d-flex flex-column">
          <div class="fw-bolder fs-6 text-start decoration-none"><%= tweet.user.username %></div>
          <div class="text-start font-size-text"><%= tweet.content %></div>
        </div>
        <div class="d-flex">
          <% if tweet.images.attached? %>
            <% case tweet.images.size %>
            <% when 1 then %>
            <% tweet.images.each do |image| %>
              <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-100" %>
            <% end %>
            <% when 2 then %>
            <% tweet.images.each do |image| %>
              <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-50" %>
            <% end %>
            <% when 3 then %>
            <div class="mx-auto">
              <% tweet.images.each do |image| %>
                <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-25" %>
              <% end %>
            </div>
            <% when 4 then %>
            <% tweet.images.each do |image| %>
              <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-25" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="d-flex">
      <div>
        <% unless tweet.user == current_user %>
          <%= link_to message_path(tweet.user.id) do %>
            <i class="bi bi-envelope"></i>
          <% end %>
        <% end %>
      </div>
      <div>返信</div>
      <% unless tweet.retweets.find_by(user_id: current_user.id) %>
        <%= link_to retweets_path(params: { id: tweet.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-repeat"></i>
        <% end %>
      <% else %>
        <%= link_to retweets_path(params: { id: tweet.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-repeat-1"></i>
        <% end %>
      <% end %>
      <div class="ps-1"><%= tweet.retweets.size %></div>
      <% unless tweet.favorites.where(user_id: current_user.id).first %>
        <%= link_to favorites_path(params: { id: tweet.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-heart"></i>
        <% end %>
      <% else %>
        <%= link_to favorites_path(params: { id: tweet.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-heart-fill color-pink"></i>
        <% end %>
      <% end %>
      <div class="ps-1"><%= tweet.favorites.size %></div>
      <% unless tweet.bookmarks.find_by(user_id: current_user.id) %>
        <%= link_to bookmarks_path(params: { id: tweet.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-bookmark"></i>
        <% end %>
      <% else %>
        <%= link_to bookmarks_path(params: { id: tweet.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-bookmark-fill"></i>
        <% end %>
      <% end %>
      <div class="ps-1"><%= tweet.bookmarks.size %></div>
      <% unless tweet.user.followed_relationship.find_by(following_id: current_user.id) %>
        <%= link_to relationships_path(params: { id: tweet.user.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-people"></i>
        <% end %>
      <% else %>
        <%= link_to relationships_path(params: { id: tweet.user.id }), data: { turbo_method: :post } do %>
          <i class="bi bi-people-fill"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<%= paginate @tweets, theme: 'bootstrap-5' %>
