<div class="col-4 d-flex flex-column mb-3 border-4">
  <div class="text-start mx-auto">
    <div class="p-3"><i class="bi bi-house"></i> <%= link_to "ホーム", root_path %></div>
    <div class="p-3"><i class="bi bi-bell"></i> 通知</div>
    <div class="p-3"><i class="bi bi-envelope"></i> <%= link_to "メッセージ", "/messages" %></div>
    <div class="p-3"><i class="bi bi-bookmark"></i> <%= link_to "ブックマーク", bookmarks_path %></div>
    <div class="p-3"><i class="bi bi-person-square"></i> <%= link_to "プロフィール", home_path(current_user), class:"decoration-none" %></div>
    <div class="p-3">もっと見る</div>
    <div class="p-3"><%= link_to "ツイートする", new_tweet_path, class:"btn btn-primary"  %></div>
  </div>
</div>
